/* bg-animated */
.bg-animated {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
}

.box div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 6px solid #0070FF; */
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/Bootstrap.png");
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    background-image: url("../img/icons/css.png");
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
    background-image: url("../img/icons/figma.png");
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/react.png");
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
    background-image: url("../img/icons/html.png");
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
    background-image: url("../img/icons/django.png");
}

.box div:nth-child(7) {
    top: 80%;
    left: 80%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/php.png");
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
    background-image: url("../img/icons/jquery.png");
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
    background-image: url("../img/icons/js.png");
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/mysql.png");
}

.box div:nth-child(11) {
    top: 18%;
    left: 50%;
    animation: animate 10s linear infinite;
    background-image: url("..s/img/icons/github.png");
}

.box div:nth-child(11) {
    top: 40%;
    left: 50%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/nodejs.png");
}

.box div:nth-child(12) {
    top: 80%;
    left: 30%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/photoshop.png");
}

.box div:nth-child(13) {
    top: 10%;
    left: 90%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/illustrator.png");
}

.box div:nth-child(14) {
    top: 50%;
    left: 90%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/after-effects.png");
}

.box div:nth-child(15) {
    top: 50%;
    left: 5%;
    animation: animate 15s linear infinite;
    background-image: url("../img/icons/typescript.png");
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/* navbar */
.navbar {
    position: fixed !important;
    bottom: 5%;
    width: 100%;
    z-index: 999;
}

.nav-link {
    color: #fff !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
}

.nav-link.home {
    background-image: url("../img/icons/home.svg");
}

.nav-link.about {
    background-image: url("../img/icons/about.svg");
}

.nav-link.technologies {
    background-image: url("../img/icons/technologies.svg");
}

.nav-link.portfolio {
    background-image: url("../img/icons/portfolio.svg");
}

.nav-link.contact {
    background-image: url("../img/icons/contact.svg");
}

.navbar-nav {
    background-color: #0070FF;
    border-radius: 50px;
    gap: 40px;
    padding: 20px 30px !important;
    flex-direction: row !important;
}


* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color: var(--white); */
    /* background-image: url("../img/particle.gif"); */
    background-color: #eae6e6ac !important;

    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}



@media (max-width:991.66px) {
    * {
        font-size: 18px;
    }
}




p {
    font-size: 20px;
}

p.hello {
    font-size: 25px;
    margin-bottom: 5px;
}

:root {
    --white: #fff !important;
    --blue: #0070FF !important;
    --black: #333333 !important;
    --gray: #cccccc5d !important;
}

.color-blue {
    color: var(--blue) !important;
}

.myBtn {
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: solid 2px var(--blue);
    border-radius: 30px;
    transition: all 0.3s;
    font-weight: 500;
}

.myBtn-primary {
    background-color: var(--blue);
    color: var(--white);
}

.myBtn-primary:hover {
    background: transparent;
    color: var(--black);
}

.myBtn-secondary {
    background-color: transparent;
    color: var(--black);
}

.myBtn-secondary:hover {
    background-color: var(--blue);
    color: var(--white);
}

.icon-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.icon-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.icon-default {
    opacity: 1;
    z-index: 1;
}

.icon-hover {
    opacity: 0;
    z-index: 2;
}

.myBtn-secondary:hover .icon-default {
    opacity: 0;
}

.myBtn-secondary:hover .icon-hover {
    opacity: 1;
}

h1,
.h1 {
    font-size: 50px !important;
    font-weight: 700 !important;
    color: var(--black);
    font-family: montserrat;
}

span#typedText,
span.cursor {
    font-size: 50px !important;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}


/* hero */
#hero {
    height: 100vh;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    /* background-image: url("../img/bg-hero.svg"); */
    /* background-color: #006eff0a; */
    /* backdrop-filter: blur(10px); */
    background-position: bottom;
    background-size: cover;

}

.mySkills {
    white-space: nowrap;
}

.mobilePic {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 8px solid #ccc;
}

.myBtnContainer {
    display: flex;
    gap: 10px;
}

.bg-absolute {
    position: absolute;
    right: 0;
    top: 25%;
}

.mypicContainer {
    background-image: linear-gradient(to right,
            rgba(0, 112, 225, 1) 0%,
            /* Top : couleur pleine */
            rgba(0, 112, 255, 0.5) 50%,
            /* Milieu : couleur + transparence */
            rgba(0, 112, 255, 0.0) 100%
            /* Bas : image visible */
        ),
        url("../bg-white.jpeg");
    /* background-color: var(--blue); */
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    padding: 20px;
    justify-content: left;
    right: 0;
    /* transform: rotate(-30deg); */
    border: none;
    outline: none;
}

.coverPic {
    background-color: white;
    display: inline-block;
    /* padding: 0 0px; */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
    /* transform: rotate(30deg); */
}

.myPicture {
    width: 250px;
}

#titleSkills {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 5px;
    color: transparent;
    background-color: var(--blue);
    animation: blink 0.7s step-end infinite;
    font-weight: 500 !important;
}

.fleche {
    border: 2px solid #0070FF;
    border-radius: 50%;
    width: 30px;
    position: absolute;
    left: 47%;
    bottom: 20%;
    animation: upDown 2s ease-in-out infinite;
    transition: all 0.3s;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes upDown {

    0%,
    100% {
        bottom: 5%;
    }

    50% {
        bottom: 8%;
    }
}


@media (max-width:991.66px) {
    #heroSection {
        background-image: linear-gradient(to bottom left,
                rgb(255, 255, 255, 0.8) 0%,
                /* Top : couleur pleine */
                rgba(255, 255, 255, 0.5) 50%,
                /* Milieu : couleur + transparence */
                rgb(255, 255, 255, 0.5) 100%
                /* Bas : image visible */
            ),
            url("../bg-white.jpeg");
        background-position: left bottom;
        background-attachment: fixed;
        position: relative;
        top: -10vh
    }

    .hero {
        /* height: auto !important; */
        text-align: center !important;
        padding: 100px 0;
    }

    .mypicContainer {
        display: none !important;
    }

    .typingContainer {
        display: flex;
        flex-direction: column;
    }

    .coverPic {
        border: 7px solid var(--blue) !important;
        margin: 20px;
        height: 150px !important;
        width: 150px !important;
    }

    .myPicture {
        width: 150px !important;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 40px !important;
    }

    .myBtnContainer {
        justify-content: center !important;
    }

}

@media (max-width:576px) {

    #heroSection {
        height: 90vh;
    }

    .myBtnContainer {
        flex-direction: column;
        gap: 10px;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 25px !important;
    }

    .nav-link {
        width: 30px !important;
        height: 30px !important;
    }

    .navbar-nav {
        gap: 20px !important;
    }

    .box div {
        width: 30px !important;
        height: 30px !important;
    }
}


/* about */
#about {
    width: 100%;
    height: 100vh;
}