/* bg-animated */
.bg-animated {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
}

.box div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 6px solid #0070FF; */
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/Bootstrap.png");
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    background-image: url("../img/icons/css.png");
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
    background-image: url("../img/icons/figma.png");
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/react.png");
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
    background-image: url("../img/icons/html.png");
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
    background-image: url("../img/icons/django.png");
}

.box div:nth-child(7) {
    top: 80%;
    left: 80%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/php.png");
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
    background-image: url("../img/icons/jquery.png");
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
    background-image: url("../img/icons/js.png");
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/mysql.png");
}

.box div:nth-child(11) {
    top: 18%;
    left: 50%;
    animation: animate 10s linear infinite;
    background-image: url("..s/img/icons/github.png");
}

.box div:nth-child(11) {
    top: 40%;
    left: 50%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/nodejs.png");
}

.box div:nth-child(12) {
    top: 80%;
    left: 30%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/photoshop.png");
}

.box div:nth-child(13) {
    top: 10%;
    left: 90%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/illustrator.png");
}

.box div:nth-child(14) {
    top: 50%;
    left: 90%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/after-effects.png");
}

.box div:nth-child(15) {
    top: 50%;
    left: 5%;
    animation: animate 15s linear infinite;
    background-image: url("../img/icons/typescript.png");
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/* Position normale */
.navbar {
    position: fixed !important;
    bottom: 2%;
    width: 100%;
    z-index: 999;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

/* État invisible, en dessous de l'écran */
.navbar.hidden-before-load {
    opacity: 0;
    transform: translateY(100%);
}

/* État visible, à sa place */
.navbar.visible-after-load {
    opacity: 1;
    transform: translateY(0);
}


.nav-link {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.nav-link:hover {
    background-color: #cccccc34;
}

.nav-link i {
    font-size: 24px;
    color: #0070FF;
    stroke: #ccc;
    transition: color 0.3s ease;
}

.navbar-nav {
    background-color: #fff !important;
    border-radius: 50px;
    gap: 40px;
    padding: 20px 30px !important;
    flex-direction: row !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.body-lock {
    width: 100%;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.text-underlined {
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}

body {
    background-color: #eae6e6ac !important;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-size: 20px;
}

.border-radius-20 {
    border-radius: 20px;
}

@media (max-width:991.66px) {
    p {
        font-size: 18px !important;
    }
}

p.hello {
    font-size: 25px;
    margin-bottom: 5px;
}

:root {
    --white: #fff !important;
    --blue: #0070FF !important;
    --black: #333333 !important;
    --gray: #cccccc5d !important;
}

.color-blue {
    color: var(--blue) !important;
}

.myBtn {
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: solid 2px var(--blue);
    border-radius: 30px;
    transition: all 0.3s;
    font-weight: 500;
}

.myBtn-primary {
    background-color: var(--blue);
    color: var(--white);
}

.myBtn-primary:hover {
    background: transparent;
    color: var(--black);
}

.myBtn-secondary {
    background-color: transparent;
    color: var(--black);
}

.myBtn-secondary:hover {
    background-color: var(--blue);
    color: var(--white);
}

.icon-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.icon-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-default {
    opacity: 1;
    z-index: 1;
}

.icon-hover {
    opacity: 0;
    z-index: 2;
}

.myBtn-secondary:hover .icon-default {
    opacity: 0;
}

.myBtn-secondary:hover .icon-hover {
    opacity: 1;
}

h1,
.h1 {
    font-size: 50px !important;
    font-weight: 700 !important;
    color: var(--black);
    font-family: montserrat;
}

h2 {
    font-weight: 700;
}

span#typedText,
span.cursor {
    font-size: 50px !important;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}


/* hero */
#hero {
    height: 100vh;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    /* background-image: url("../img/bg-hero.svg"); */
    /* background-color: #006eff0a; */
    /* backdrop-filter: blur(10px); */
    background-position: bottom;
    background-size: cover;

}

.mySkills {
    white-space: nowrap;
}

.mobilePic {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 8px solid #ccc;
}

.myBtnContainer {
    display: flex;
    gap: 10px;
}

.bg-absolute {
    position: absolute;
    right: 0;
    top: 25%;
}

.mypicContainer {
    background-image: linear-gradient(to right,
            rgba(0, 112, 225, 1) 0%,
            #0070ff80 50%,
            rgba(0, 112, 255, 0.0) 100%);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    padding: 20px;
    justify-content: left;
    right: 0;
    border: none;
    outline: none;
}

.coverPic {
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
}

.myPicture {
    width: 250px;
}

#titleSkills {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 5px;
    color: transparent;
    background-color: var(--blue);
    animation: blink 0.7s step-end infinite;
    font-weight: 500 !important;
}



@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}




@media (max-width:991.66px) {

    .hero {
        text-align: center !important;
    }

    .mypicContainer {
        display: none !important;
    }

    .typingContainer {
        display: flex;
        flex-direction: column;
    }

    .coverPic {
        border: 7px solid var(--blue) !important;
        margin: 20px;
        height: 150px !important;
        width: 150px !important;
    }

    .myPicture {
        width: 150px !important;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 40px !important;
    }

    .myBtnContainer {
        justify-content: center !important;
    }

    #technologie,
    #portfolio {
        height: auto !important;
    }

    footer {
        height: 40vh !important;
    }
}

@media (max-width:576px) {

    #heroSection {
        height: 90vh;
    }

    .myBtnContainer {
        flex-direction: column;
        gap: 10px;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 25px !important;
    }

    .navbar-nav {
        /* gap: 20px !important; */
        gap: 0 !important;
        width: 100%;
        justify-content: space-between;

    }

    .box div {
        width: 30px !important;
        height: 30px !important;
    }

    #about {
        /* height: auto !important; */
        margin-bottom: 150px;
    }


    .aboutPicture {
        width: 200px !important;
    }

    .techIcon {
        height: 50px !important;
        width: 50px !important;
        object-fit: contain;
        /* display: inline-block; */
    }
}


/* about */
#about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPicture {
    width: 400px;
}



/* technologie */
#technologie {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techIcon {
    object-fit: contain;
    /* display: inline-block; */
}

.techContainer {
    background-color: #fff;
}

.iconDesign {
    display: flex;
    justify-content: space-around;
}

.progress {
    height: auto !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 20px !important;

}

.progress-bar {
    background-color: #0070FF !important;
    border-radius: 20px !important;
}

/* portfolio */
#portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPf {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

/* contact */
#contact {
    height: 100vh;
}

.contact-container {
    background-color: #0070FF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow: hidden;
}

.left-contact {
    background-color: #0070FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.contactLink {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    /* padding: 40px; */
    width: 100%;
    background-color: #fff;
}

input {
    height: 3rem;
}

textarea {
    height: 6rem;
}

input,
textarea {
    margin-bottom: 10px;
    width: 100%;
    border: #0070FF solid 2px;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px
}

.input-container input {
    width: 100%;
    padding: 20px;
    border: 1px solid #0070FF;
    border-radius: 30px;
    outline: none;
    background: none;
    color: #333
}

.input-container textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #0070FF;
    border-radius: 30px;
    outline: none;
    background: none;
    color: #333
}


.input-container .label {
    position: absolute;
    left: 20px;
    top: 24px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    transition: all 0.3s ease
}

input:focus+.label,
textarea:focus+.label {
    top: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    color: #0070FF;
    background: #fff;
    font-size: 0.8em;
    border: none !important
}

/* Label en haut quand focus OU input non vide */
.input-container input:focus+.label,
.input-container input:not(:placeholder-shown)+.label,
.input-container textarea:focus+.label,
.input-container textarea:not(:placeholder-shown)+.label {
    top: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    color: #0070FF;
    background: #fff;
    font-size: 0.8em;
}

footer {
    background-image: url("../img/vacance.png");
    background-attachment: fixed;
    color: #fff;
    height: 35vh;
}

.bg-footer {
    background-color: #006eff9c;
    backdrop-filter: blur(10px);
    height: 100%;
    padding: 40px 0;
}

.footer-hr {
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}