* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

@media (max-width:991.66px) {
    * {
        font-size: 18px;
    }

    body {
        background-color: #eae6e6ac !important;
    }

    p {
        font-size: 18px !important;
    }
}

@media (min-width:991.66px) {
    body {
        background-image:
            linear-gradient(to bottom left,
                rgb(255, 255, 255) 0%,
                /* Top : couleur pleine */
                rgba(255, 255, 255, 0.9) 70%,
                /* Milieu : couleur + transparence */
                rgb(255, 255, 255, 0) 80%
                /* Bas : image visible */
            ),
            url("./assets/img/bg-hero2.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top left;
        width: 100%;
    }
}


p {
    font-size: 20px;
}

:root {
    --white: #fff !important;
    --blue: #0070FF !important;
    --black: #333333 !important;
    --gray: #cccccc5d !important;
}

.color-blue {
    color: var(--blue) !important;
}

.myBtn {
    padding: 10px 30px 12px 30px;
    background: transparent;
    border: solid 2px var(--blue);
    border-radius: 30px;
    transition: all 0.3s;
    font-weight: 500;
}

.myBtn-primary {
    background-color: var(--blue);
    color: var(--white);
}

.myBtn-primary:hover {
    background: transparent;
    color: var(--black);
}

.myBtn-secondary {
    background-color: var(--white);
    color: var(--black);
}

.myBtn-secondary:hover {
    background: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    transition: all 0.3s;
}

h1,
.h1 {
    font-size: 50px !important;
    font-weight: 700 !important;
    color: var(--black);
    font-family: montserrat;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}


/* header */
.navbar {
    width: 100%;
    /* background-image: url("../img/bg-header.jpg"); */
    /* background-color: rgb(229, 234, 238); */
    background-color: #ffffffd8;
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10vh;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

@media (max-width:576px) {

    .navbar-brand,
    .navbar-toggler {
        order: -1;
    }
}

@media (max-width:991.66px) {
    .navbar {
        height: auto !important;
        background-color: transparent !important;
        /* backdrop-filter: blur(0px); */
    }
}

.navbar-brand {
    width: 50px;
    height: 40px;
    background-image: url("../img/icons/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-toggler {
    border: none !important;
    outline: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url("../img/icons/burgurIcon.svg") !important;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("../icons/burgurIcon.svg");
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("../icons/burgurIconX.svg");
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: var(--black) !important;
}

/* hero */
#hero {
    height: 90vh;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
}

.mySkills {
    white-space: nowrap;
}

.mobilePic {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 8px solid #ccc;
}

.myBtnContainer {
    display: flex;
    gap: 10px;
}

.mypicContainer {
    background-color: var(--blue);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    right: 0;
    padding: 20px;
    justify-content: left;
}

.coverPic {
    background-color: white;
    display: inline-block;
    /* padding: 0 0px; */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
}

.myPicture {
    width: 250px;
}

#titleSkills {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 5px;
    color: transparent;
    background-color: var(--blue);
    animation: blink 0.7s step-end infinite;
    font-weight: 500 !important;
}

.fleche {
    border: 2px solid #0070FF;
    border-radius: 50%;
    width: 30px;
    position: absolute;
    left: 47%;
    bottom: 20%;
    animation: upDown 2s ease-in-out infinite;
    transition: all 0.3s;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes upDown {

    0%,
    100% {
        bottom: 5%;
    }

    50% {
        bottom: 8%;
    }
}


@media (max-width:991.66px) {
    #heroSection {
        background-image:
            linear-gradient(to bottom left,
                rgb(255, 255, 255, 0.8) 0%,
                /* Top : couleur pleine */
                rgba(255, 255, 255, 0.5) 50%,
                /* Milieu : couleur + transparence */
                rgb(255, 255, 255, 0.5) 100%
                /* Bas : image visible */
            ),
            url("../bg-white.jpeg");
        background-position: left bottom;
        background-attachment: fixed;
        position: relative;
        top: -10vh
    }

    .hero {
        /* height: auto !important; */
        text-align: center !important;
        padding: 100px 0;
    }

    .mypicContainer {
        display: none !important;
    }

    .typingContainer {
        display: flex;
        flex-direction: column;
    }

    .coverPic {
        border: 7px solid var(--blue) !important;
        margin: 20px;
        height: 150px !important;
        width: 150px !important;
    }

    .myPicture {
        width: 150px !important;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 30px;
    }

    .myBtnContainer {
        justify-content: center !important;
    }

}

@media (max-width:576px) {
    #navbar {
        height: 10vh !important;
    }

    #heroSection {
        height: 90vh;
    }

    .myBtnContainer {
        flex-direction: column;
        gap: 10px;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 25px !important;
    }
}